*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@mixin flek{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fleksi{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:#bcb4af;
}
a{
    color:#000;
    text-decoration: none;
}
.okvir{
    width:90%;
    margin: 0px auto;
}
nav{
    background-color: #555;
    border-bottom: 1px solid #ff6600;
}

nav ul li{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    padding: 10px;
    color:#ff6600;
    display:block;
    text-align: center;
    text-transform: uppercase;
}
nav a:hover{
    background-color: #3c3e42;
}
nav ul{
    display: flex;
    justify-content: flex-start;
}
nav li{
    flex: 1 1 0;
}
.toggle{
    width: 100%;
    background-color: #555;
    box-sizing: border-box;
    text-align: right;
    color: #ff6600;
    font-size: 1.3em;
    display: none;

}
#slajder{
    width:100%;
    height: 400px;
    background-color: #3c3e42;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../img/slajder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

#slajder h1{
    color:#ff6600;
    font-size: 3.2em;
    font-weight: bold;
    text-transform: uppercase;
}
#slajder h2{
    color: #ff6600;
    font-size: 2.5em;
    font-style: italic;
    text-transform: uppercase;
}
h2{
    color:#ff6600;
}
.traka{
    width: 100%;
    height: 50px;
    background-color: #555;
    @include flek();
    border-bottom: 1px solid #ff6600;
    border-top: 1px solid #ff6600;
    margin-bottom:30px;
}
#projekti{
    @include flek();
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#projekti h3{
    margin-bottom: 15px;
}
#projektiSlika{
    background-image: url("../img/pub.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 250px;
    border: 3px solid #000;
    border-radius: 5px;
    margin-right: 15px;
}
#projektiText{
    width: 50%;
    text-align: center;
}
#obrazovanje{
    width: 100%;
    @include flek();
    flex-direction: row;
    margin-bottom: 30px;
    text-align: center;
}
#obrazovanjeSlika{
    background-image: url("../img/abc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 250px;
    margin-right: 15px;
    border-radius: 10px;
}
#obrazovanjeText{
    width: 50%;
}
#obrazovanjeText  h4{
    margin-bottom: 15px;
}
#obrazovanjeText  p{
    margin-bottom: 25px;
}
#vestine{
    width: 100%;
    @include fleksi();
    flex-wrap: wrap;
}
#vestine img{
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#vestine img:last-child{
    margin-right: 0px;
}
#vestine .vestina{
    width:25%;
    text-align: center;
}
#podaci{
    @include fleksi();
    margin-bottom: 25px;
}
.podatak:first-child{
    width: 60%;
    display: flex;
    justify-content: center;
}
.podatak:first-child img{
    border-radius: 10px;
}
.podatak:last-child{
    width: 40%;
}
.podatak h3{
    text-align: center;
    margin-bottom: 20px;
}
#pod{
   @include fleksi();
}
#pod ul li{
    padding: 2px;
}
.podatak ul li{
    list-style-type: none;
}
#podLevo{
    justify-content: flex-start;
    font-weight: bold;
    color: #ff6600;
}
#podDesno{
    justify-content: flex-end;
}
.traka:last-child a{
    margin-left: 15px;
}
@media screen and (max-width: 1200px){
    .okvir{
        width:90%;
        margin: 0px auto;
    }
    #vestine{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #vestine .vestina{
        width: 50%;
        text-align: center;
    }
    #vestine img{
        width: 200px;
        height: auto;
    }
}
@media screen and (max-width: 970px){
    #podaci{
        flex-direction: column;
    }
    .podatak{
        width: 100%;
    }
    .podatak:first-child img{
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 720px){
    .toggle{
        display: block;
    }
    ul{
        width: 100%;
        flex-direction: column;
    }
    ul li{
        display: block;
        text-align: center;
    }
}
@media screen and (max-width: 550px){
    #vestine .vestina{
        width:100%;
        text-align: center;
    }
    #obrazovanje{
        width: 100%;
        flex-direction: column;
    }
    #obrazovanjeSlika{
        width: 100%;
        margin-bottom: 25px;
        border-radius: 0px;
    }
    #obrazovanjeText{
        width: 100%;
    }
    #vestine img{
        width: 150px;
        height: auto;
    }
    #obrazovanjeText h4{
        text-align: center; 
    }
    #obrazovanjeText p{
        text-align: center;
    }
}
@media screen and (max-width: 480px){
    #projekti{
        width: 100%;
        flex-direction: column;
    }
    #projektiSlika{
        width: 100%;
        margin-bottom: 25px;
    }
    #projektiText{
        width: 100%;
    }
    

}
